.projects-container {
    width: 100%;
    margin-top: 30px;
}

.projects-container-header {
    font-size: 20px;
    font-family: 'poppins-semibold';
}

.projects-intro-text {
    width: 100%;
    font-size: 22px;
    font-family: 'poppins-semibold';
    margin-bottom: 30px;
}

.project {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 10px;
    /* background-color: white; */
    border: 1px solid rgba(201, 201, 201, 0);
    box-shadow: 0 4px 5px 0 rgba(100,100,100,0.16),0 8px 10px 0 rgba(100,100,100,0.12);
}

.project:hover {
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;
}

.project-name {
    font-family: "momcake";
    font-size: 26px;
    color: rgb(43, 165, 247);
}

.project-name-subtext {
    color: rgb(170, 170, 170);
    font-size: 16px;
    font-family: 'poppins-medium';
}

.project-date {
    color: rgb(201, 201, 201);
    font-family: 'momcake';
    font-size: 20px;
    float: right;
    text-align: right;
}

.project-tools {
    margin-top: 20px;
}

.featured-project-tool {
    border-bottom: 2px solid #77aaff !important;
}

.project-tool {
    margin-right: 10px;
    padding: 5px;
    border-bottom: 2px solid rgb(0, 218, 218);
    font-size: 15px;
    color: grey;
    border-radius: 2px;
}

.project-link {
    float: right;
}

.cloud-icon {
    transform: translateY(5px);
}

@media only screen and (max-width: 700px) {
    .projects-container {
        box-sizing: border-box;
        padding: 10px;
    }
}
